body{
display: flex;
flex-direction: column;
background-color: #f2bbe5;
}

input[type=submit]{
    background-color: #bdf0ee;
    border-color: #091f1e;
    
}

input[type=text]{
    border-radius: 2px;
    border-color: #000000;
}

input[type=email]{
    border-radius: 2px;
    border-color: #000000;
}

p{
    font-size: 18px;
}
